* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: rgba(0, 10, 20, 1);
    background-color: linear-gradient( #000a14, #00000000);
  }

  .texto {
      margin-top: 120px;
      margin-bottom: 30px;
      color: white;
      text-transform: uppercase;
  }

  .margin {
      margin-left: 60px;
  }

  .poster {
      float: left;
      width: cover;
      height: 300px;
      color: white;
  }