body {
    font-family: 'Roboto', sans-serif;
  }  

#corDeFundo {
    background-image: linear-gradient(180deg, #000A14 40.1%, #000000 80%, rgba(255, 241, 119, 0.385) 190%);
    position: relative;
}

.container-carrossel {
    display: flex !important;
    justify-content: flex-end !important;
    width: 100% !important;
    padding-top: 150px !important;
    padding-right: 150px !important;
    text-align: right !important;
}

.conteudo-container-carrossel {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 70px;
    padding: 10px;
}

.imagem-carrossel {
    -webkit-mask-image: linear-gradient(to top, transparent 2%, black 50%);
}

.inf-filmes-carrossel {
    display: flex;
    margin: 10px 0;
}

.detalhes-filmes-carrossel {
    font-weight: bold;
    display: inline-block;
}

#filmesNostalgicos {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
    font-weight: bold;
}

#filmesPopulares {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
    font-weight: bold;
}

.containerImagensCatalogo {
    display: flex;
    align-items: center; 
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    justify-content: space-evenly;
}

#StarWars {
    margin-left: 12px;
}

#StarWars:hover {
    width: 225px;
    height: 325px;
}

#Titanic {
    margin-right: 15px;
    margin-left: 15px;
}

#Titanic:hover {
    width: 225px;
    height: 325px;
}

#DeVoltaParaOFuturo {
    margin-right: 15px;
}

#DeVoltaParaOFuturo:hover {
    width: 225px;
    height: 325px;
}

#PulpFiction {
    margin-right: 12px;
}

#PulpFiction:hover {
    width: 225px;
    height: 325px;
}

#JurassicPark {
    margin-right: 12px;
}

#JurassicPark:hover {
    width: 225px;
    height: 325px;
}

#HomemAranha:hover {
    width: 225px;
    height: 325px;
}

.containerImagensCatalogo2 {
    display: flex;
    align-items: center; 
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    justify-content: space-evenly;
}

#ABelaEAFera {
    margin-left: 20px;
    margin-bottom: 50px;
}

#ABelaEAFera:hover {
    width: 225px;
    height: 325px;
}

#ET {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
}

#ET:hover {
    width: 225px;
    height: 325px;
}

#CurtindoAVida {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
}

#CurtindoAVida:hover {
    width: 225px;
    height: 325px;
}

#Grease {
    margin-right: 12px;
    margin-bottom: 50px;
}

#Grease:hover {
    width: 225px;
    height: 325px;
}

#indianaJones {
    margin-bottom: 50px;
}

#indianaJones:hover {
    width: 225px;
    height: 325px;
}

#gonnies {
    margin-bottom: 50px;
}

#gonnies:hover {
    width: 225px;
    height: 325px;
}

#tituloCarroselET {
    /* margin-right: 1200px;
    font-weight: 800; */
    text-shadow:rgb(0, 0, 0) 3px 4px 5px;
}

.conteudoCarroselET {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    margin-right: 1200px;
    width: 600px;
    text-shadow:rgb(0, 0, 0) 3px 4px 5px;
}

#infoET {
    font-weight: 700;
    text-align: left;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
}

#sinopseET {
    font-size: 20px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

#tituloCarroselJurassic {
    margin-bottom: 40px;
    /* margin-right: 1300px; */
    padding-right: 10px;
    font-weight:800;
    /* width: 330px; */
    text-shadow:rgb(0, 0, 0) 3px 4px 5px;
} 

#conteudoCarroselJurassic {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    margin-right: 1200px;
    width: 600px;
    text-shadow:rgb(0, 0, 0) 3px 4px 5px;
}

#infoJurassic {
    font-weight: 500;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    line-height: 10px;
    padding: 3px;
}

#sinopseJurassic {
    font-size: 20px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

#tituloCarroselPulpFiction {
    margin-bottom: 20px;
    /* margin-right: 1300px; */
    padding-right: 50px;
    font-weight: 800;
    /* width: 330px; */
    text-shadow:rgb(0, 0, 0) 3px 4px 5px;
}

#conteudoCarroselPulpFiction {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    margin-right: 1200px;
    width: 600px;
    text-shadow:rgb(0, 0, 0) 3px 4px 5px;
}

#infoPulp {
    font-weight: 700;
    text-align: left;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
}

#sinopsePulp {
    font-size: 20px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

#lupa {
    color: white;
}

#mensagem {
    color: white;
}

.botao-carrossel {
    align-self: flex-start;
    padding: 10px 0;
}

#botao-carrossel {
    background-color: rgba(75, 69, 68, 0.9);
    height: 44px;
    width: 156px;
    border-radius: 5px;
    border: 2px solid rgba(75, 69, 68, 0.9);
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    margin: 0 5px;
}

#botao-carrossel:hover {
    background-color: rgba(224, 203, 16, 1);
    border: 3px solid rgba(224, 203, 16, 1);
}

@media screen and (max-width: 990px) {
    .containerImagensCatalogo {
        flex-direction: column;
        align-items: center;
    }

    .containerImagensCatalogo2 {
        flex-direction: column;
        align-items: center;
    }
}