.fonte-principal {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 36px;
}

.edicao-navbar {
    background-color: transparent;
}

.titulo-edicoes {
    color:rgba(243, 226, 79, 1);
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    margin-left: 10px;
    text-decoration: none;
    white-space: nowrap;
}

.titulo-edicoes:hover {
    color:rgba(243, 226, 79, 1);
    text-decoration: none;
}

.item-navbar {
    padding-left: 70px;
}

.texto-navbar {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.texto-navbar:hover {
    text-decoration: underline;
}

.icone-login {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-left: 70px;
}

body {
    background-image: linear-gradient(180deg, #000A14 40.1%, #000000 80%, rgba(255, 241, 119, 0.385) 190%);
    position: relative;
}

main:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: url(../assets/curves.png) no-repeat center 610px;
    z-index: -1;
}

section {
    padding-top: 30px;
}

.imagem-fundo {
    background-image: url("../assets/bgInicio.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-mask-image: linear-gradient(to top, transparent 2%, black 50%);
    background-attachment: fixed;
    height: 800px;
    position: relative;
    z-index: 2;
}

.container-main {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 150px;
    padding-right: 150px;
    text-align: right;
}

.conteudo-container-main {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.titulo-texto-main {
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    text-align: left;
}
    
.texto-main {
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 25px;
}

.container-main h3 {
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    text-align: justify;
    margin-top: 10px;
}

.botao-assinar {
    padding-top: 15px;
    text-align: center;
    align-self: center;
}

#botao-assinatura {
    background-color: rgba(224, 203, 16, 1);
    height: 44px;
    width: 156px;
    border-radius: 5px;
    border: 2px solid rgba(224, 203, 16, 1);
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 18px;
}

.titulos {
    margin: 50px;
    color: rgba(255, 255, 255, 1);
}

.quem-somos{
    max-width: 470px;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding-left: 0;
    overflow: hidden;
    margin: 70px 40px;
}

.container-logo {
    display: flex;
    justify-content: space-evenly;
}

.card-text {
    font-size: 14px;
    line-height: 22px;
}

.imagem-linkedin {
    width: 30px;
    height: 30px;
    margin: 5px;
}

.imagem-github {
    width: 28px;
    height: 28px;
    margin: 5px;
}

.foto-posicao {
    object-fit: cover;
    max-width: 200px;
}

#ferramentas {
    padding-top: 60px;
}

.ferramentas-lista {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    align-content: space-around;
    gap: 40px 20px;
}

.ferramentas-lista > li {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.imagens-ferramentas {
    height: 80px;
    width: 80px;
}

.vetor1 {
    position: absolute;
    z-index: -1;
    left: 1100px;
    top: 500px;
}

.vetor2 {
    position: absolute;
    z-index: -1;
    left: -50px;
    top: 1750px;
}

.vetor3 {
    position: absolute;
    z-index: -1;
    left: -40px;
    top: 600px;
}

@media screen and (max-width: 990px) {
    .ferramentas-lista {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imagem-fundo {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    section {
        padding-top: 20px;
    }

    .container-main {
        padding-right: 20px;
    }

    .conteudo-container-main {
        width: 100%;
        align-items: center;
        padding-left: 20px;
    }

    .titulo-texto-main {
        text-align: center;
    }

    .container-main h3 {
        text-align: justify;
    }

    .botao-assinar {
        align-self: center;
        padding-left: 20px;
    }

    #botao-assinatura {
        height: 50px;
        width: 150px;
    }
}
