<<<<<<< HEAD
.cor-navbar {
  background-image: linear-gradient(
    -45deg,
    transparent,
    rgba(51, 51, 51, 0) 70%,
    rgba(0, 10, 20, 0.9) 95%
  );
}

.fonte-titulo {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}

.titulo-edicoes {
  color: rgba(243, 226, 79, 1);
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  margin-left: 10px;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}

.titulo-edicoes:hover {
  color: rgba(243, 226, 79, 1);
}

.imagem-login {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  margin-left: 70px;
}
=======
.edicao-navbar {
    background-image: linear-gradient(-45deg, transparent, rgba(51,51, 51, 0) 70%, rgba(0, 10, 20, 0.9) 95%);
}

.fonte-principal {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 36px;
}

.titulo-edicoes {
    color:rgba(243, 226, 79, 1);
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    margin-left: 10px;
    text-decoration: none;
    white-space: nowrap;
}

.titulo-edicoes:hover {
    color:rgba(243, 226, 79, 1);
}
>>>>>>> main
