.rodape {
    background-image: linear-gradient(180deg, #000A14 40.1%, #000000 100%, #000A14 40.1%);
    margin-top: 20px;
    padding-top: 60px;
    padding-bottom: 30px;
}

.container-rodape {
    display: flex;
    justify-content: space-around;
}

.copyright {
    color: rgba(255, 255, 255, 1);
    padding: 5px 5px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.imagem-rodape {
    width: 150px;
    height: 40px;
}

@media screen and (max-width: 990px) {
    .container-rodape {
        flex-direction: column;
        align-items: center;
    }

    .imagem-rodape {
        width: 150px;
        height: 40px;
        margin-bottom: 40px;
    }
}