#imgFundo {
  background-image: url('../assets/bgLoginCadastro.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

form {
  height: 370px;
  background: #000a14cc;
  border-radius: 15px;
  text-align: center;
  color: white;
  font-size: 12px;
  width: 550px;
}

h1 {
  margin-top: 10px;
  font-size: 20px;
}

a {
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.blocoPrincipal {
  height: 250px;
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bloco {
  width: 275px;
  height: 125px;
  margin: 5px;
}

.local {
    display: flex;
    width: 190px;
    margin: 0 38px;
    position: relative;
}

.endereco {
  display: flex;
  width: 190px;
  margin: 0 38px;
  position: relative;
}

.endereco input{
  width: 95px;
}

input {
  background: #000a1400;
  color: white;
  height: 20px;
  border-top: #1014000a;
  border-left: #1014000a;
  border-bottom: 1px solid #e0cb10;
  border-right: #1014000a;
  width: 190px;
  margin-top: 10px;
}

::placeholder {
  color: white;
}

select {
  background: #000a1400;
  color: white;
  height: 20px;
  border-top: #1014000a;
  border-left: #1014000a;
  border-bottom: 1px solid #e0cb10;
  border-right: #1014000a;
  width: calc(50% + 10px);
  margin-top: 10px;
}

button {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 45%;
  text-transform: uppercase;
  background: #e0cb10;
  border-color: #e0cb10;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}