body{
  font-family: Arial, Helvetica, sans-serif;
  /*Tornar o elemento um flex container, transformando todos os seus elementos internos(filhos em flex itens.*/
  display: flex;

  /*Alinha os flex itens de acordo com o eixo do container.*/
  align-items: center;

  /* Alinha os itens flex no container de acordo com a direção.*/    
  justify-content: center;
  
  /*Altura mínima do elemnto.
  Unidades de tamanho da tela vh e vw. */
  min-height: 100vh;
  background-image: url('../assets/bgLoginCadastro.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header{
  background: rgb(0, 0, 0);
  color: yellow;
  font-weight: bold;
  width: 100px;
  position: absolute;
  left: 0;
  top: 0;
}

.principal{
  background-color: #000A14CC;
  color: white;
  /*Gerar espaço ao redor do conteudo do elemento 30px superior e inferior 10 px para a esquerda e direita.*/
  padding: 0 35px 20px 35px;
  border-radius: 15px;
  /*Temanho máximo do elemento*/
  max-width: 70vw;
  min-width: 0vw;
}

.principal h1{
  text-align: center;
  /* Tamanho fonte h1- título formulário*/
  font-size: 27px; 
  /*Gerar espaço ao redor do conteudo do elemento 10px superior,esquerdo e direito e 30 px inferior*/
  padding: 12px 10px 20px 10px;
}

.container{
  display: flex;
  padding-top: 10px;
  width: 270px;
}

input{
  margin: 3px 3px 3px 0;
}

.inputSenhaEmail{
  background: #000a1400;
  color: white;
  /*Definindo a altura do elemento*/
  height: 20px;
  border-top: #1014000a;
  border-left: #1014000a;
  border-bottom: 1px solid #E0CB10;
  border-right: #1014000a;
  max-width: 50vw;
  margin: 10px 0px 10px 0;
  /*Definindo a largura do elemento*/
  width: calc(100% + 10px); 
  margin-top: 10px;
}

input::placeholder {
  color: white;
  margin-top:3px;
  margin-left: 2px;​
}

.blocolembraresqueci{
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  max-width: 50vw;
  margin: 0 12px 10px 12px;
  /*Definindo a largura do elemento*/
  width: 246px; 
}

.lembrar-me{
  display: flex;
  min-width: 20px;
  max-width: 25vw;
}

a{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 25vw;
}


/*label{
  background: #000a1400;
  color: white;
  /*Definindo a altura do elemento*/
  /*height: 20px;
  max-width: 60vw;
  margin: 10px 10px;
  /*Definindo a largura do elemento*/
/*   
}
*/

button{
  font-size: 12px;
  margin: 45px 3% 10px 12px;
  padding: 10px 0; 
  width: 92%;   
  text-transform: uppercase;
  background: #E0CB10;
  color: white;
  border: 0;
  border-radius: 4px;
  font-weight: bold;
}

.novoaqui{
  display: flex;
  font-size: 12px;
  width: 270px;
  margin: 0 0 5px 2px;  
  max-width: 54vw;
  justify-content: center;
}

.novoaqui h3{
  font-size: 12px;
  font-weight: lighter;
  margin-top: 2px;
}

.modal fade show{ 
  font-family: Arial, Helvetica, sans-serif;
  /*Tornar o elemento um flex container, transformando todos os seus elementos internos(filhos em flex itens.*/
  display: flex;

  /*Alinha os flex itens de acordo com o eixo do container.*/
  align-items: center;

  /* Alinha os itens flex no container de acordo com a direção.*/    
  justify-content: center;
  
  /*Altura mínima do elemnto.
  Unidades de tamanho da tela vh e vw. */
  min-height: 100vh;
}

.modal-dialog {
  position: absolute;
  left: 32%;
  top: 20%;
  /* left: 50%;
  top: 50%; */
}

.modal-edicao {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
}

.modal-content{
  background: #000A14;
  color: white;
  /*Temanho máximo do elemento*/
  max-width: 70vw;
  min-width: 0vw;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.modal-titulo{
  display: flex;
  justify-content: center;
  /* Tamanho fonte h1- título formulário*/
  font-size: 30px; 
  /*Gerar espaço ao redor do conteudo do elemento 10px superior,esquerdo e direito e 30 px inferior*/
  padding: 10px 0 35px 0;
}

.modal-body h1{
  display: flex;
  justify-content: center;
  font-size: 18px;
  /*Gerar espaço ao redor do conteudo do elemento 10px superior,esquerdo e direito e 30 px inferior*/
  padding: 20px 0;
}

.modal-body h2{
  font-size: 12px;
}

.modal-footer {
  justify-content: center;
}

.caixa-email{
  width: 100%;
  display: block;
  background: #000A14;
  color: white;
  /*Definindo a altura do elemento*/
  height: 20px;
  border-top: #000A14;
  border-left: #000A14;
  border-bottom: 1px solid #E0CB10;
  border-right: #000A14;
  max-width: 50vw;
  padding: 5px 10px;
  /*Definindo a largura do elemento*/ 
  margin-top: 10px;
  /* border-left: 15px;
  border-right: 15px; */
}

.aviso-email {
  font-size: 11px;
  color: #6c757d;
  padding: 0 15px;
}